@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
	width: 100%;
	min-height: 100vh;	
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}

h1 {
    text-align: center;
    font-size: 3em;
    color: #ffffff;
    text-shadow: 1.5px 1.5px #131b21;
    margin-bottom: 0.5em;
}

h2 {
    text-align: center;
    color: #ffffff;
    font-size: 1.8em;
}

.container {
    width: calc(100% - 4em);
    margin: 0 auto;
}

/*Header section*/
header {
    height: 6em;
    margin-top: 0.5em;
}

header .container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    row-gap: 1.2em;
}

header .logo {
    grid-row: 1 / 3;
    justify-self: start;
    align-self: center;
    margin-top: 1em;
    z-index: 1;
}

header .logo img {
    width: 12em;
}

header nav {
    display: grid;
    grid-auto-flow: column;
    align-items: end;
}

header nav > a {
    text-decoration: none;
    color: #000000;
}

header nav.main-nav {
    justify-self: end;
    column-gap: 2em;
    text-transform: uppercase;
}

header nav.main-nav .mobile-menu {
    display: none;
}

header nav.main-nav a {
    position: relative;
    padding-bottom: 0.3em;
    font-size: 0.8em;
}

header nav.main-nav a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: rgba(0,0,0,0.7);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

header nav.main-nav a:hover:after, header nav.main-nav a:focus:after { 
    width: 100%;
    left: 0;
}

header nav.secondary-nav {
    column-gap: 1em;
    justify-content: end;
}

header nav.secondary-nav img {
    width: 0.8em;
    vertical-align: middle;
    margin-right: 0.3em;
    transition: transform 0.2s ease-in;
}

header nav.secondary-nav .phone:hover img, header nav.secondary-nav .phone:focus img  {
    transform:scale(1.3);
}

header nav.secondary-nav > a {
    align-self: center;
    font-size: 0.8em;
}

header nav.secondary-nav .phone {
    font-weight: bold;
}

header nav.secondary-nav .access {
    color: #0070b4;
    border: 1px solid #c4c4c4;
    padding: 0.5em;
    transition: background-color 0.3s ease-in, color 0.3s ease-in;
}

header nav.secondary-nav .access:hover {
    background-color: #0070b4;
    color: #ffffff;
}

header nav.secondary-nav a:last-child {
    border-left: 1px dotted #cacaca;
    padding-left: 1em;
}

header nav.secondary-nav a:hover, header nav.secondary-nav a:focus,  header nav.secondary-nav .active {
    color: #3b73a6;
}

/*Hero image section*/
main .hero-image {
    background-image: linear-gradient(180deg, rgba(0, 56, 90, 0.1),rgba(0, 43, 69, 1)), url('../assets/Imagen_cabecera_home.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: calc(100vh - 8.5em);
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: 50%;
    row-gap: 1.5em;
}

main .hero-image h1 {
    margin-top: 1em;
}

main .hero-image h2 {
    margin-bottom: 2.5em;
}

main .hero-image p {
    text-align: center;
    color: #e6edf4;
    font-family: 'Merriweather', serif;
}

main .circle {
    display: block;
    width: 5em;
    height: 5em;
    line-height: 5em;
    text-align: center;
    margin: 0 auto;
    border-radius: 50%;
    background-color:white;
    margin-top: -2em;
    cursor: pointer;
}

main .circle img {
    animation: arrow 0.6s infinite alternate ease-in;
    width: 1em;
}

@keyframes arrow {
    0% { 
        transform: translateY(0); 
        opacity: 0.4;
    }
    100% { 
        transform: translateY(-0.4em); 
        opacity: 0.9;
    }
}

/*Main section*/
/*Group section*/
main .container#scroll {
    padding-top: 2em;
    width: calc(100% - 8em);
}

main .container > p {
    text-align: center;
    width: 60%;
    font-family: 'Merriweather', serif;
    margin: 0 auto;
}

main .group {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    justify-items: center;
    margin: 5em auto 10em auto;
    column-gap: 2em;
}

main .group .card {
    display: grid;
    grid-template-rows: 70% auto 1fr;
    row-gap: 1em;
    cursor: pointer;
}

main .group .card img {
    transition: transform 0.2s ease-in;
}

main .group .card:hover img {
   transform: scale(1.1);
}

main .group .card:hover h3, main .group .card:hover p, main .group .card:focus h3, main .group .card:focus p {
    color: #3b73a6;
 }

main .group .card > * {
    align-self: center;
    justify-self: center;
}

main .group .card p {
    text-align: center;
    padding: 0 2.5em;
}

/*What we do section*/
main .what-we-do {
    background-image: linear-gradient(rgba(0, 43, 69, 0.8),rgba(0, 43, 69, 0.8)), url('../assets/Imagen_bloque_servicios.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    margin: 5em auto;
    column-gap: 2em;
    row-gap: 3em;
    padding: 3em 4em;
}

main .what-we-do h2 {
    grid-column: 1 / 5;
}

main .what-we-do h3 {
    font-family: 'Merriweather', serif;
    margin-bottom: 1em;
    color: #ffffff;
    font-weight: normal;
}

main .what-we-do ul {
    margin-bottom: 2em;
}

main .what-we-do ul li {
    color: #ffffff;
    margin-bottom: 0.5em;
    list-style: none;
    margin-left: 1em;
    font-weight: 100;
}

main .what-we-do ul li:before {
    content: '\2714\0020';
    color: #078dc8;
    display: inline-block;
    width: 1.2em;
    margin-left: -1.2em;
}

/*24hrs service*/
main .hours {
    margin: 13em 4em 7em 4em;
    background-image: linear-gradient(to bottom right, #006cae ,#02253a);
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    column-gap: 1.5em;
    position: relative;
}

main .hours:before {
    background-image: url('../assets/reloj.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 200% 200%;
    z-index: 1;
    position: absolute;
    opacity: 0.15;
    width: 100%;
    height: 100%;
    content: '';
}

main .hours > * {
    z-index: 2;
}

main .hours .clock {
    width: 4em;
    justify-self: right;
    align-self: center;
    filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, 0.5));
}

main .hours .texts {
    align-self: center;
}

main .hours h2 {
    text-align: left;
    margin-bottom: 0.2em;
}

main .hours p {
    color: #ffffff;
    font-family: 'Merriweather', serif;
    font-size: 1.3em;
}

main .hours .man {
    margin-top: -9em;
}

/*Offices*/
main .offices {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    justify-items: center;
    margin: 2em 4em;
    row-gap: 3em;
}

main .offices h2 {
    color: #000000;
    grid-column: 1 / 5;
    margin-bottom: 1em;
}

main .offices .office .marker {
    width: 3em;
    margin-bottom: 1.5em;
}

main .offices .office {
    display: grid;
    grid-auto-rows: 1fr;
    cursor: pointer;
}

main .offices .office:hover .marker, main .offices .office:focus .marker  {
    animation: flip 1.8s ease-in;
}

@keyframes flip {
    0% {
        opacity: 0.8;
    }
    20% {
        transform: scale(1.3) scaleX(-1);
    }
    40% {
        transform: scale(0.9);
    }
    60% {
        opacity: 1;
        transform: scale3d(1.03, 1.03, 1.03);
    }
    80% {
        transform: scale3d(.97, .97, .97);
    }
    100% {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}

main .offices .office > * {
    align-self: center;
    justify-self: center;
}

main .offices .office p {
    text-align: center;
    align-self: center;
}

main .offices .office .phone {
    font-weight: bold;
    color: #000000;
    text-decoration: none;
    align-self: start;
}

main .offices .office .phone img {
    width: 0.8em;
    vertical-align: middle;
    margin-right: 0.3em;
}

/*Contact Us*/
main .contact {
    display: grid;
    grid-template-columns: 30% auto;
    margin: 4em auto 0 auto;
    column-gap: 5em;
    row-gap: 6em;
    padding: 6em 4em;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1),rgba(36,81,112,0.8)), url('../assets/Imagen_cabecera_home.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

main .contact h2 {
    grid-column: 1 / 3;
    color: #000000;
}

main .contact form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

main .contact form fieldset {
    border: 0;
}

main .contact form fieldset:nth-child(2) {
    grid-row-start: 2;
}

main .contact form input:not([type='radio']), main .contact form button, main .contact form textarea {
    display: block;
    width: 90%;
    padding: 1em;
    margin-bottom: 1em;
    font: inherit;
    outline: none;
    border: 2px solid #ffffff;
}

main .contact form textarea {
    resize: none;
    height: 7.89em;
}

main .contact form label[for="legal"] {
    font-size: 0.8em;
}

main .contact form label[for="legal"] a {
    color: #000000;
    font-weight: bold;
}

main .contact form label[for="legal"] a:hover,  main .contact form label[for="legal"] a:focus {
    color: #ffffff;
    font-weight: bold;
}

main .contact form button {
    background-color: #0068a8;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease-in, border-color 0.3s ease-in;
    border-color: #0068a8;
}

main .contact form button:disabled {
    background-color: #011a29;
    cursor: not-allowed;
}

main .contact form button:hover, main .contact form button:focus  {
    background-color: #011a29;
    border-color: #011a29;
}

main .contact form input[type="radio"]  {
    transform: scale(1.2);
    margin: 0 0.5em;
    vertical-align: middle;
}

main .contact form fieldset:last-child {
    position: relative;
}

.errors {
    display: none;
    position: absolute;
    background-color: rgba(176, 0, 32, 1);
    padding: 1em 0.5em 0.5em 0.5em;
    box-shadow: 1px 2px rgba(0, 0, 0, 0.5);
    transition: opacity 0.1s ease-in;
    z-index: 1;
    border-radius: 7px;
}

.errors:before {
    content: "";
    position: absolute;
    bottom: 98%;
    left: 20px;
    width: 0;
    border-bottom: 15px solid rgba(176, 0, 32, 1);
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
}

.errors li {
    text-align: left;
    color:  #ffffff;
    font-size: 0.7em;
    margin-bottom: 0.5em;
    margin-left:2em;
    margin-right: 0.5em;
}

.error {
    border: 2px solid #B00020 !important;
}

.error-label {
    color: #B00020;
}

main .contact form label[for="legal"].error-label a {
    color: #B00020;
}

.valid {
    border: 2px solid green !important;
}

.spinner {
    border: 2px solid #f3f3f3;
    border-top: 2px solid #3498db;
    border-radius: 50%;
    width: 1.2em;
    height: 1.2em;
    animation: spin 2s linear infinite;
    margin: 0 auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

main .contact .social {
    grid-column: 1 / 3;
    justify-self: center;
}

main .contact .social img {
    width: 3em;
    margin-left: 0.3em;
    cursor: pointer;
    transition: opacity 0.2s ease-in;
}

main .contact .social img:hover, main .contact .social img:focus {
    opacity: 0.7;
}

/*Footer*/
footer {
    background-color: #011a29;
    padding: 6em 5vw;
    display: grid;
    justify-content: center;
    align-content: center;
    row-gap: 2.5em;
}

footer > * {
    justify-self: center;
}

footer img {
    width: 12em;
}

footer nav {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    column-gap: 1em;
    text-align: center;
}

footer nav a {
    font-size: 0.8em;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.4em 0;
}

footer nav a:not(:last-child) {
    border-right: 1px solid #323c42;
    padding-right: calc(1em + 1px);
}

footer nav a:hover, footer nav a:focus {
    color: #3b73a6;
}

footer .copyright > * {
    color: #3b73a6;
    font-size: 0.8em;
    text-decoration: none;
    margin-right: 1em;
}

footer .copyright *:not(:last-child) {
    border-right: 1px solid #434649;
    padding-right: calc(1em + 1px);
}

footer .copyright a:hover, footer .copyright a:focus {
    color: #ffffff;
}

/*Media queries*/
@media only screen and (max-width: 1100px) {
    header nav.main-nav {
        column-gap: 1em;
    }

    main .offices .office .phone {
        align-self: center;
    }
}

@media only screen and (max-width: 999px) {
    header {
        height: auto;
        margin-bottom: 0.5em;
    }

    header .container {
        grid-template-rows: auto auto auto;
    }

    header nav.main-nav {
        grid-row-start: 3;
        grid-column: 1 / 3;
        grid-auto-columns: 1fr;
    }

    main .hero-image {
        min-height: calc(100vh - 10em);
        grid-template-columns: 70%;
    }

    main .hours h2 {
        font-size: 1.8em;
    }

    main .contact form label[for="legal"] {
        font-size: 0.7em;
    }

    footer nav {
        grid-auto-flow: row;
    }

    footer nav a {
        border-right: 0;
        padding-top: 1em;
        padding-right: 0;
    }

    footer nav a:not(:last-child) {
        border-right: 0;
        padding-right: 0;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        width: calc(100% - 2em);
    }

    main .container#scroll {
        width: calc(100% - 4em);
    }

    main .what-we-do {
        grid-template-columns: 1fr 1fr;
        padding: 3em 2em;
    }

    main .what-we-do h2 {
        grid-column: 1 / 3;
    }

    main .hours {
        margin: 13em 2em 7em 2em;
    }

    main .offices {
        margin: 2em;
    }

    main .contact {
        grid-template-columns: 25% auto;
        column-gap: 1em;
    }
}

@media only screen and (max-width: 750px) {
    header .container {
        row-gap: 1em;
    }

    header .logo {
        grid-row: 2 / 3;
        margin-top: 0;
    }

    header nav.main-nav {
        position: absolute;
        grid-auto-flow: row;
        top: 3.3em;
        right: 0;
        background-color: #ffffff;
        padding: 0.5em 1em 1em 1em;
        row-gap: 1em;
    }

    header nav.main-nav.active {
        box-shadow: 6px 6px 2px 1px rgba(0, 0, 0, .2);
    }

    header nav.main-nav .mobile-menu {
        display: inline-block;
        cursor: pointer;
        justify-self: end;
    }

    header nav.main-nav .mobile-menu div {
        width: 2em;
        height: 0.2em;
        background-color: #000000;
        margin: 6px 0;
        transition: 0.4s;
    }

    header nav.main-nav .mobile-menu:hover div {
        background-color: #3b73a6;
    }

    header nav.main-nav .mobile-menu.active div:first-child {
        transform: rotate(-45deg) translate(-9px, 6px);
    }

    header nav.main-nav .mobile-menu.active div:nth-child(2) {
        opacity: 0;
    }

    header nav.main-nav .mobile-menu.active div:last-child {
        transform: rotate(45deg) translate(-7px, -4px);
    }

    header nav.main-nav a {
        justify-self: start;
        display: none;
        padding: 1em 0.5em;
    }

    header nav.main-nav a.active {
        display: block;
    }

    header nav.secondary-nav {
        grid-column: 1 / 3;
    }

    main .hero-image {
        min-height: calc(100vh - 9em);
    }

    h1 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 1.5em;
    }

    main .group {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        row-gap: 5em;
    }

    main .hours {
        grid-template-columns: 25% 1fr;
        column-gap: 1em;
        margin: 3em 2em 5em 2em;
        height: 10em;
    }

    main .hours .clock {
        justify-self: center;
    }

    main .hours .man {
        display: none;
    }

    main .offices {
        grid-template-columns: repeat(2, 50%);
    }

    main .offices .office {
        grid-auto-rows: 1fr 1fr 0.5fr;
    }

    main .offices h2, main .contact p, main .contact form {
        grid-column: 1 / 3;
    }

    main .contact {
        row-gap: 3em;
    }

    main .contact form {
        column-gap: 1em;
    }

    main .contact form input:not([type='radio']), main .contact form button, main .contact form textarea {
        width: 100%;
    }

    main .contact form input[type="radio"] {
        margin: 0 0.5em 0 0;
    }
}

@media only screen and (max-width: 500px) {
    header nav.secondary-nav > a {
        font-size: 0.7em;
    }

    header nav.secondary-nav .access {
        padding: 0.5em 0.3em;
        text-align: center;
    }

    .container {
        width: calc(100% - 2em);
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.4em;
    }

    main .hero-image p {
        font-size: 0.9em;
    }    

    main .container > p {
        width: 90%;
    }

    main .container#scroll {
        width: calc(100% - 2em);
    }

    main .group {
        grid-template-columns: 1fr;
    }

    main .what-we-do {
        grid-template-columns: 1fr;
        row-gap: 0;
        padding: 3em 1em;
        margin: 3em 0 5em 0;
    }

    main .what-we-do h2 {
        grid-column: 1 / 2;
        margin-bottom: 2em;
    }

    main .hours {
        grid-template-columns: 1fr;
        height: auto;
        padding: 3em 0;
        row-gap: 2em;
    }

    main .hours:before {
        background-size: 150% 150%;
    }

    main .hours h2 {
        font-size: 1.5em;
        text-align: center;
    }

    main .hours .texts {
        justify-self: center;
        text-align: center;
    }

    main .offices {
        grid-template-columns: 1fr;
        margin: 2em 1em;
    }

    main .offices h2 {
        grid-column: 1 / 2;
    }
    
    main .contact {
        padding: 4em 1em;
        row-gap: 2em;
    }

    main .contact {
        grid-template-columns: 1fr;
    }

    main .contact form {
        grid-template-columns: 1fr;
    }

    main .contact form fieldset:nth-child(2) {
        grid-row-start: 3;
    }

    main .contact form fieldset:last-child {
        margin-top: 1em;
    }

    main .contact form label[for="legal"] {
        font-size: 0.8em;
    }

    footer .copyright {
        text-align: center;
    }

    footer .copyright > * {
        margin-right: 0.3em;
    }

    footer .copyright *:not(:last-child) {
        padding-right: calc(0.3em + 4px);
    }
}

@media only screen and (max-width: 400px) {
    main .hero-image {
        grid-template-columns: 80%;
        row-gap: 1em;
    }

    main .hours:before {
        background-size: 130% 130%;
    }
}